body {
    font-family: 'Arial', sans-serif;
    background-color: #007BFF;
    text-align: center;
}

h1 {
    color: #333;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}